/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
  --backgroundColor: #fcfcfc;
  --popColor: #91bae2;
  --popColorTwo: rgb(50, 43, 43); 
  /* You can use it with any value that is repeated throughout the sheet */
  --border-radius: 0px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}
.groove-guide{
  width: 300px;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  /* Refer to CSS values by the name of the custom property we assigned it */
  background: var(--popColor);
  color: var(--backgroundColor);
}
header p {
font-style: italic;
}

nav {
  display: flex;
  background-color: var(--popColorTwo);
}

nav a {
  color: var(--popColor);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--backgroundColor);
  color: var(--popColor);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--popColor);
  color: var(--backgroundColor);
  margin-top: auto;
}

.aboutMe {
  background-color: var(--backgroundColor);
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.background {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 10px;
  transform: rotate(0deg);
  box-shadow: 10px 10px 5px var(--popColorTwo);
  margin: 20px;
}
.portrait {
  display: flex;
  text-align: center;
}

.projects {
  flex: 1;
  background-color: var(--backgroundColor);
  padding: 30px, 30px, 50px, 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(0deg);
  box-shadow: 10px 10px 5px var(--popColorTwo);
  margin: 20px;
}

.card > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.card > p {
  text-align: center;
}

.card > img {
  width: 300px;

}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
